# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=7b854bebf8d03c46c6593c90ccaed18b5a634c9faa137be5b823743427e020b4c664eca2793b9594bb60427e6ebfa6507c8aa6ca6ac67ba13f6bece64e475db8

HOSTNAME=rubyvoodoo.local

REDIS_URL='redis://localhost:6379'

SMTP_AUTHENTICATION=plain
SMTP_STARTTLS=false
SMTP_ADDRESS=''
SMTP_DOMAIN=''
SMTP_PORT=587
SMTP_USERNAME=''
SMTP_PASSWORD=''

SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
LOG_ASSETS = false

COVERAGE=true
